header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0aa6df;
    color: #fbf9f9;
}

#avatar {
    width: 100px;
    height: 80px;
}

nav {
    display: flex;
    justify-content: end;
    padding: 5px;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*.content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
} */

h2 {
    color:#7c2a31;
    display: inline-block;
    padding: 30px;
}

#about {
    display: flex;
    padding: 30px;
    column-gap: 10px;
}

#projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 430px;
    padding: 20px 20px;
    opacity: 40%;
  }

.card_first {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 900px;
    left: -5%;
    padding: 30px 40px;
    opacity: 40%;
}

.card_first:hover {
    opacity: 100%;
}

.card_first img {
    width: 600px;
    height: 420px;
} 


.card:hover {
    opacity: 100%;
}

.card img {
    width: 300px;
    height: 300px;
}

.project_title {
    position: absolute;
    top: 87%;
    left: 30%;
}

#about p {
    color:black;
}

#work {
    display: flex;
    padding: 30px;
    column-gap: 30px;
    width: 100%;
}

#contact_me {
    display: flex;
    padding: 30px;
    column-gap: 10px;
}